
.header_dashboard{
    height: 100vh;
}

.header_dashboard .menu_dashboard{
    height: 100vh;
    width: 13%;
    background: #262626;
    color: white;
}

.header_dashboard .menu_dashboard .head{
    display: flex;
    height: 10vh;
    background: lightslategray;
    color: white;
    align-items: center;
    justify-content: center;
}

.header_dashboard .menu_dashboard .head img{
    width: -webkit-fill-available;
    height: fit-content;
    margin: 10px;
}

.header_dashboard .menu_dashboard .listas{
    height: 90vh;
}

.header_dashboard .menu_dashboard .listas .listado{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 80vh;
}

.header_dashboard .menu_dashboard .listas .listado li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 100%;
    margin-top: 4px;
    background: white;
    text-align: flex-start;
    cursor: pointer;
}

.header_dashboard .menu_dashboard .listas .listado li:hover{
    background: teal;
}

.header_dashboard .menu_dashboard .listas .listado a{
    text-decoration: none;
}

.header_dashboard .menu_dashboard .listas .listado a li{
    display: flex;
    padding: 5px 10px;
    color: black;
}

.header_dashboard .menu_dashboard .listas .salir{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 10vh;
}

.header_dashboard .menu_dashboard .listas .salir li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 100%;
    margin-top: 4px;
    background: white;
    text-align: flex-start;
    cursor: pointer;
}

.header_dashboard .menu_dashboard .listas .salir li:hover{
    background: teal;
}

.header_dashboard .menu_dashboard .listas .salir a{
    text-decoration: none;
}

.header_dashboard .menu_dashboard .listas .salir a li{
    display: flex;
    padding: 5px 10px;
    color: black;
}

.body_dashboard{
    position: absolute;
    height: 100vh;
    top: 0; right: 0;
    width: 87%;
    background: whitesmoke;
    color: black;
}
